@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        justify-content: space-between;
    }    
}

.navbar {
    margin-bottom:20px;
}

.card {
    margin-bottom:20px;
}

.col-sm-8 > p {
    word-break: break-all;
}

img.card-img-top {
    max-height: 200px;
    object-fit: scale-down;
}